.rodape {
    background-color: var(--black-primary);

    padding: 17px 23px 17px 23px;

    h2 {
        padding: 10px;
        font-family: var(--font-prtimary);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;

        color: var(--white-primary);
    }
}
