.swiper {
    .swiper-slide {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: var(--white-primary);
    }
    .swiper-button-prev {
        padding: 30px;
        color: var(--white-primary);
    }
    .swiper-button-next {
        padding: 30px;
        color: var(--white-primary);
    }
}
